<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

      <title>
          {% block title %}

          {% endblock %}
      </title>      
   </head>

   <body>    

      {% block content %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid" >
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                </div>
            </div>
            </nav>
           <div class="container-fluid text-center" style="margin-top:20px" >
                <div class="row content">
                    <div class="col-sm-3 sidenav" style="margin-top:50px">
                            Test coloana 1
                            <p><a href="#">Link</a></p>
                            <p><a href="#">Link</a></p>
                            <p><a href="#">Link</a></p>
                    </div>
                    <div class="col-sm-6 text-left" style="box-shadow: 5px 10px 18px #888888;">
                        
                                <h1 style=" margin-top:50px; color:orange; font-size:37px; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:orange; "></i>
                                        <i class="fa fa-exclamation-triangle fa-stack-1x" style="color:white; background:linear-gradient(orange,orange) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    1.0 Attacks, Threats, and Vulnerabilities
                                </h1>
                                <h2 style="margin-left: 20px;">
                                    <a href="#Capitol1_1" class="link-light" style="text-decoration: none;">1.1 Compare and contrast different types of social engineering techniques</a>
                                                                  
                                </h2>
                                <div class="row">                                    
                                        <div class="col-4">
                                            <ul style="margin-left: 30px;">
                                                <li style="font-size:1.3rem; "><a href="#Phishing" class="link-light" style="text-decoration: none;">Phishing</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Smishing" class="link-light" style="text-decoration: none;">Smishing</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Vishing" class="link-light" style="text-decoration: none;">Vishing</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Spam" class="link-light" style="text-decoration: none;">Spam</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Spim" class="link-light" style="text-decoration: none;">Spam over instant messaging (SPIM)</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Spear" class="link-light" style="text-decoration: none;">Spear phishing</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Dumpster" class="link-light" style="text-decoration: none;">Dumpster diving</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Shoulder" class="link-light" style="text-decoration: none;">Shoulder surfing</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Pharming" class="link-light" style="text-decoration: none;">Pharming</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Tailgating" class="link-light" style="text-decoration: none;">Tailgating</a></li>                                                
                                                    
                                        </div>    
                                        <div class="col-4">
                                            <ul >
                                                <li style="font-size:1.3rem;"><a href="#Eliciting" class="link-light" style="text-decoration: none;">Eliciting information</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Whaling" class="link-light" style="text-decoration: none;">Whaling</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Prepending" class="link-light" style="text-decoration: none;">Prepending</a></li>
                                                <li style="font-size:1.3rem;"><a href="#Identity" class="link-light" style="text-decoration: none;">Identity fraud</a></li>
                                                <li style="font-size:1.3rem;">Invoice scams</li>
                                                <li style="font-size:1.3rem;">Credential harvesting</li>
                                                <li style="font-size:1.3rem;">Reconnaissance</li>
                                                <li style="font-size:1.3rem;">Hoax</li>
                                                <li style="font-size:1.3rem;">Impersonation</li>
                                                <li style="font-size:1.3rem;">Watering hole attack</li>
                                                <li style="font-size:1.3rem;">Typosquatting</li>
                                                                                                                                            
                                                
                                            </ul>             
                                        </div>
                                        <div class="col-4">
                                            <ul >
                                                <li style="font-size:1.3rem;">Pretexting</li>
                                                <li style="font-size:1.3rem;">Influence campaigns</li>
                                                <ul>      
                                                    <li>Hybrid warfare</li>
                                                    <li>Social media</li>                                                       
                                                </ul>
                                                <li style="font-size:1.3rem;">Principles (reasons for effectiveness)</li>
                                                    <ul>      
                                                        <li>Authority</li>
                                                        <li>Intimidation</li>
                                                        <li>Consensus</li>
                                                        <li>Scarcity</li>
                                                        <li>Familiarity</li>
                                                        <li>Trust</li>            
                                                        <li>Urgency</li>                                        
                                                    </ul>
                                                
                                            </ul>     
                                        </div>                                       
                                </div>          
                                <hr>
                                <h1 style="margin-left: 50px; color:#1387CA; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#1387CA; "></i>
                                        <i class="fa fa-power-off fa-stack-1x" style="color:white; background:linear-gradient(#1387CA, #1387CA) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    2.0 Architecture and Design
                                </h1>  

                                <h1 style="margin-left: 50px; color:#0eb469; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#0eb469; "></i>
                                        <i class="fa fa-lock fa-stack-1x" style="color:white; background:linear-gradient(#0eb469, #0eb469) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    3.0 Implementation
                                </h1>  

                                <h1 style="margin-left: 50px; color:#5bc4fc; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#5bc4fc; "></i>
                                        <i class="fa fa-calendar-check-o fa-stack-1x" style="color:white; background:linear-gradient(#5bc4fc, #5bc4fc) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    4.0 Operations and Incident Response
                                </h1>  

                                <h1 style="margin-left: 50px; color:#fa6848">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#fa6848; "></i>
                                        <i class="fa fa-list-alt fa-stack-1x" style="color:white; background:linear-gradient(#fa6848, #fa6848) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    5.0 Governance, Risk, and Compliance
                                </h1> 
                                
                                <h2><b>1.1 Compare and contrast different types of social engineering techniques</b></h2>
                                <br>
                                <p id="Phishing" style="font-size:1.5rem;"><b>Phishing</b></p>
                                <img src="static/Phishing.jpg" alt="Phishing" style="width:380px; height:200px; " >   
                                <br>                            
                                <p style="text-indent:30px; text-align:justify">
                                
                                    <i>Phishing</i> (pronounced “fishing”) is a type of social engineering in which an attacker attempts to obtain sensitive information from users by masquerading 
                                    as a trusted entity in an e-mail or instant message sent to a large group of often random users. The attacker attempts to obtain information such as usernames, 
                                    passwords, credit card numbers, and details about the users’ bank accounts. The message that is sent often encourages the user to go to a website that appears 
                                    to be for a reputable entity such as PayPal or eBay, both of which have frequently been used in phishing attempts. The website the user actually visits is not 
                                    owned by the reputable organization, however, and asks the user to supply information that can be used in a later attack. Often the message sent to the user 
                                    states that the user’s account has been compromised and requests, for security purposes, the user to enter their account information to verify the details.
                                    In another very common example of phishing, the attacker sends a bulk e-mail, supposedly from a bank, telling the recipients that a security breach has occurred
                                     and instructing them to click a link to verify that their account has not been tampered with. If the individual actually clicks the link, they are taken to a site 
                                     that appears to be owned by the bank but is actually controlled by the attacker. When they supply their account and password for “verification” purposes, 
                                     the individual is actually giving it to the attacker.
                                <p id="Capitol1_1" style="text-indent:30px; text-align:justify">
                                        Phishing is now the most common form of social engineering attack related to computer security. The target could be a computer system and access to the information 
                                     found on it (as is the case when the phishing attempt asks for a user ID and password), or it could be personal information, generally financial, about an individual 
                                     (in the case of phishing attempts that ask for an individual’s banking information).
                                </p>

                                <p id="Smishing" style="font-size:1.5rem;"><b>Smishing</b></p>
                                <img src="static/Smishing.png" alt="Smishing" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Smishing</i>  is an attack using Short Message Service (SMS) on victims’ cell phones. It is a version of phishing via SMS. It begins with an SMS message directing a user to a 
                                    URL that can serve up a variety of attack vectors, including forms of malware. This attack works primarily due to the use of urgency and intimidation in the message, 
                                    which might use a warning such as “You are subscribed to ABC service, which will begin regular billings of $3 a month. Click here to unsubscribe before billing takes place."
                                    When the user clicks the URL, the next phase of the attack can begin. 
                                </p>

                                <p id="Vishing" style="font-size:1.5rem;"><b>Vishing</b></p>
                                <img src="static/Vishing.png" alt="Vishing" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Vishing</i> is a variation of phishing that uses voice communication technology to obtain the information the attacker is seeking. Vishing takes advantage of the trust that some people 
                                    place in the telephone network. Users are unaware that attackers can spoof (simulate) calls from legitimate entities using Voice over IP (VoIP) technology. Voice messaging 
                                    can also be compromised and used in these attempts. This tactic is used to establish a form of trust that is then exploited by the attacker over the phone. Generally, 
                                    the attacker is hoping to obtain credit card numbers or other information that can be used in identity theft. The user may receive an e-mail asking them to call a number
                                    that is answered by a potentially compromised voice message system. Users may also receive a recorded message that appears to come from a legitimate entity. In both cases, 
                                    the user will be encouraged to respond quickly and provide the sensitive information so that access to their account is not blocked. If a user ever receives a message that 
                                    claims to be from a reputable entity and asks for sensitive information, the user should not provide it but instead should use the Internet or examine a legitimate account 
                                    statement to find a phone number that can be used to contact the entity. The user can then verify that the message received was legitimate and report the vishing attempt
                                </p>

                                <p id="Spam" style="font-size:1.5rem;"><b>Spam</b></p>
                                <img src="static/Spam.png" alt="Spam" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Spam</i>, as just about everybody knows, is bulk unsolicited e-mail. Though not generally considered by many as a social engineering issue, or even a security issue for that matter,
                                    spam can still be a security concern. It can be legitimate in the sense that it has been sent by a company advertising a product or service, but it can also be malicious and 
                                    could include an attachment that contains malicious software designed to harm your system, or a link to a malicious website that may attempt to obtain personal information from you.
                                    As spam is unsolicited, one should always consider the source before clicking any links or directly responding. Because spam can result in users clicking links, it should be regarded
                                    as a form of altering human behavior or social engineering.
                                </p>
                                
                                <p id="Spim" style="font-size:1.5rem;"><b>Spam over Instant Messaging (SPIM)</b></p>
                                <img src="static/Spim.jpg" alt="Spim" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i></i> Though not as well known, a variation on spam is SPIM, which is basically spam delivered via an instant messaging application. The purpose of hostile SPIM is the same as 
                                    that of spam—getting an unsuspecting user to click malicious content or links, thus initiating the attack.
                                </p>
                                
                                <p id="Spear" style="font-size:1.5rem;"><b>Spear Phishing</b></p>
                                <img src="static/Spear.jpg" alt="Spear" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Spear phishing</i> is a term created to refer to a phishing attack that targets a specific person or group of people with something in common. Because the attack targets a specific group, 
                                    such as senior executives, the ratio of successful attacks (that is, the number of responses received) to the total number of e-mails or messages sent usually increases because a targeted attack 
                                    will seem more plausible than a message sent to users randomly.
                                </p>

                                <p id="Dumpster" style="font-size:1.5rem;"><b>Dumpster diving</b></p>
                                <img src="static/Dumpster.jpg" alt="Dumpster" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Dumpster diving</i> is the process of going through a target’s trash in hopes of finding valuable information that might be used in a penetration attempt.
                                     One common place to find information, if the attacker is in the vicinity of the target, is in the target’s trash. The attacker might find little bits of information that could be useful for an attack. 
                                     The tactic is not, however, unique to the computer community; it has been used for many years by others, such as identity thieves, private investigators, and law enforcement personnel, 
                                     to obtain information about an individual or organization. If the attacker is very lucky, and the target’s security procedures are very poor, they may actually find user IDs and passwords.
                                </p>

                                <p id="Shoulder" style="font-size:1.5rem;"><b>Shoulder Surfing</b></p>
                                <img src="static/Shoulder.jpg" alt="Shoulder" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Shoulder surfing</i> does not necessarily involve direct contact with the target; instead, the attacker directly observes the individual entering sensitive information on a form, keypad, 
                                    or keyboard. The attacker may simply look over the shoulder of the user at work, for example, or may set up a camera or use binoculars to view the user entering sensitive data. 
                                    The attacker can attempt to obtain information such as a personal identification number (PIN) at an automated teller machine (ATM), an access control entry code at a secure gate or door, 
                                    or a calling card or credit card number. Many locations now use a privacy screen or filter to surround a keypad so that it is difficult to observe somebody as they enter information. 
                                    More sophisticated systems can actually scramble the location of the numbers so that the top row at one time includes the numbers 1, 2, and 3 and the next time includes 4, 8, and 0. 
                                    While this makes it a bit slower for the user to enter information, it thwarts an attacker’s attempt to observe what numbers are pressed and then enter the same button pattern since the location of the numbers constantly changes.
                                </p>

                                <p id="Pharming" style="font-size:1.5rem;"><b>Pharming</b></p>
                                <img src="static/Pharming.png" alt="Pharming" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Pharming</i> consists of misdirecting users to fake websites made to look official. Using phishing, attackers target individuals, one by one, by sending out e-mails. To become a victim, 
                                    the recipient must take an action (for example, respond by providing personal information). In pharming, the user will be directed to the fake website as a result of activity such as DNS poisoning 
                                    (an attack that changes URLs in a server’s domain name table) or modification of local host files (which are used to convert URLs to the appropriate IP address). Once at the fake site, 
                                    the user might supply personal information, believing that they are connected to the legitimate site.
                                </p>

                                <p id="Tailgating" style="font-size:1.5rem;"><b>Tailgating</b></p>
                                <img src="static/Tailgating.jpg" alt="Tailgating" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">                                   
                                    <i>Tailgating</i> (or piggybacking) is the simple tactic of following closely behind a person who has just used their own access card or PIN to gain physical access to a room or building. 
                                    People are often in a hurry and will frequently not follow good physical security practices and procedures. Attackers know this and may attempt to exploit this characteristic in human behavior. 
                                    An attacker can thus gain access to the facility without having to know the access code or having to acquire an access card. It is similar to shoulder surfing in that it relies on the attacker 
                                    taking advantage of an authorized user who is not following security procedures. Frequently the attacker may even start a conversation with the target before reaching the door so that the user
                                    may be more comfortable with allowing the individual in without challenging them. In this sense, piggybacking is related to social engineering attacks.
                                    <p style="text-indent:30px; text-align:justify">Both the piggybacking and shoulder surfing attack techniques rely on the poor security practices of an authorized user in order to be successful. Thus, both techniques can be easily countered by 
                                    training employees to use simple procedures to ensure nobody follows them too closely or is in a position to observe their actions. A more sophisticated countermeasure to piggybacking involves the use of a mantrap, 
                                    which utilizes two doors to gain access to the facility. The second door does not open until the first one is closed, and the doors are closely spaced so that an enclosure is formed that only allows one individual through at a time.</p>
                                </p>

                                <p id="Eliciting" style="font-size:1.5rem;"><b>Eliciting information</b></p>
                                <img src="static/Eliciting.jpg" alt="Eliciting" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">                                   
                                    Calls to or from help desk and tech support units can be used to <i>elicit information</i>. A skilled social engineer can use a wide range of psychological techniques to convince people, whose main job is to help others, 
                                    to perform tasks resulting in security compromises. Posing as an employee, an attacker can get a password reset, information about some system, or other useful information. The call can go the other direction as well, 
                                    where the social engineer is posing as the help desk or tech support person. Then, by calling employees, the attacker can get information on system status and other interesting elements that they can use later.
                                </p>

                                <p id="Whaling" style="font-size:1.5rem;"><b>Whaling</b></p>
                                <img src="static/Whaling.png" alt="Whaling" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">                                   
                                    High-value targets are referred to as whales. A whaling attack is thus one where the target is a high-value person, such as a CEO or CFO. Whaling attacks are not performed by attacking multiple targets and hoping for a reply, 
                                    but rather are custom built to increase the odds of success. Spear phishing is a common method used against whales, as the communication is designed to appear to be ordinary business for the target, being crafted to appear nonsuspicious.
                                     Whales can be deceived in the same manner as any other person; the difference is that the target group is limited, so an attacker cannot rely upon random returns from a wide population of targets.
                                </p>

                                <p id="Prepending" style="font-size:1.5rem;"><b>Prepending</b></p>
                                <img src="static/Prepending.jpg" alt="Prepending" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">                                   
                                    <i>Prepending</i> is when information is added to the beginning of malicious data. For example, the attacker may get you to click a link that is www.banksite.com@192.168.2.1, where the
                                    browser would ignore everything to the left of the @ sign. When used in a social engineering context, prepending is the act of supplying information that another will act upon, frequently before they ask for it, 
                                    in an attempt to legitimize the actual request, which comes later. Using the psychological constructs of authority, an attacker can use prepending by stating that they were sent by the target’s boss, or another authority figure, 
                                    as a means to justify why the target should perform a specific action—typically one that, in the absence of the prepending, would not be normal.
                                </p>

                                <p id="Identity" style="font-size:1.5rem;"><b>Identity Fraud</b></p>
                                <img src="static/Identity.jpg" alt="Identity" style="width:380px; height:200px;"> 
                                <p style="text-indent:30px; text-align:justify">                                   
                                    <i>Identity fraud</i> is the use of fake credentials to achieve an end. This can be high risk, pretending to be an official representative of a government agency or a regulator, or lower risk, showing up as the person who waters the plants. 
                                    One could pretend to be a delivery agent, show up with a box—or better yet, a server—and attempt direct delivery to the server room. This works best when the victim is expecting the person, as in the case of a broken server under a repair warranty. 
                                    Identity fraud can be done online as well, using known information about the person you are impersonating (see the “Impersonation” section later in the chapter), and deceiving the victim you are attacking.  
                                     This is key for stopping most social engineering attacks.
                                </p>
                                
                    </div>      
                    <div class="col-sm-3 sidenavs" style="margin-top:50px">
                        Test coloana 3
                        <div class="well">
                            <p>ADS</p>
                          </div>
                          <div class="well">
                            <p>ADS</p>
                          </div>
                    </div>  
                </div>           
            </div>        

      {% endblock %}

   </body>
   <style>
      body {
      background-color: #23273b;
      color: white
      }
   </style>
</html>
    

