<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

      <title>
          {% block title %}

          {% endblock %}
      </title>      
   </head>

   <body>    

      {% block content %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid" >
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                </div>
            </div>
            </nav>
           <div class="container-fluid text-center" style="margin-top:20px" >
                <div class="row content">
                    <div class="col-sm-3 sidenav" style="margin-top:50px">
                            Test coloana 1
                            <p><a href="#">Link</a></p>
                            <p><a href="#">Link</a></p>
                            <p><a href="#">Link</a></p>
                    </div>
                    <div class="col-sm-6 text-left" style="box-shadow: 5px 10px 18px #888888;">
                        
                                <h1 style=" margin-top:50px; color:orange; font-size:37px; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:orange; "></i>
                                        <i class="fa fa-exclamation-triangle fa-stack-1x" style="color:white; background:linear-gradient(orange,orange) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    1.0 Managementul amenințărilor și vulnerabilităților
                                </h1>
                                <h2 style="margin-left: 20px;">
                                    <a href="#Capitol1_1" class="link-light" style="text-decoration: none;">1.1 Importanța datelor și a informațiilor despre amenințări</a>                                                                  
                                </h2>
                              
                                <div class="row">                                    
                                        <div class="col-4">
                                            <ul style="margin-left: 30px;">
                                                <li style="font-size:1.3rem; "><a href="#Surse_de_informații" class="link-light" style="text-decoration: none;">Surse de informații </a></li>
                                                    <ul >                
                                                        <li><a href="#myCollapse" class="link-light" data-bs-toggle="collapse" style="text-decoration: none;">Surse de informații publice (deschise)</a></li>
                                                        <div class="collapse" id="myCollapse" style="color:'white'; margin-right:100px; ">
                                                            <div class="card card-body" style="background:#3a4660; border-style:none;">This is a simple example of showing and hiding specific element via data attributes. Click any trigger buttons to toggle this panel.Click any trigger buttons to toggle this panel</div>
                                                        </div>
                                                        <li>Surse de informații private/proprietare (închise)</li>
                                                        <li>Actualitate</li>
                                                        <li>Relevanță</li>
                                                        <li>Acuratețe</li>
                                                    </ul>
                                                <li style="font-size:1.3rem;">Niveluri de incredere</li>
                                                <li style="font-size:1.3rem;">Managementul indicatorilor</li>
                                                    <ul>
                                                        <li>Structured Threat Information eXpression (STIX)</li>
                                                        <li>Trusted Automated eXchange of Indicator Information (TAXII)</li>
                                                        <li>OpenIoc</li>
                                                    </ul>
                                            </ul>    
                                            

                                            <div class="collapse" id="collapseExample">
                                                <div class="card card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                                </div>
                                            </div>
                                        </div>    
                                        <div class="col-4">
                                            <ul >
                                                <li style="font-size:1.3rem;">Clasificarea amenințărilor</li>
                                                    <ul>      
                                                        <li>Amenințare cunoscută vs. amenințare necunoscută </li>
                                                        <li>Zero-day</li>
                                                        <li>Amenințare persistentă avansată</li>
                                                    </ul>
                                                <li style="font-size:1.3rem;">Actorii amenințărilor</li>
                                                    <ul>      
                                                        <li>Națiuni-state</li>
                                                        <li>Hacktivist</li>
                                                        <li>Crima organizată</li>
                                                        <li>Amenințare internă</li>
                                                            <ul>
                                                                <li>Intenționată</li>
                                                                <li>Neintenționată</li>
                                                            </ul>                                                    
                                                    </ul>
                                                
                                            </ul>             
                                        </div>
                                        <div class="col-4">
                                            <ul >
                                                <li style="font-size:1.3rem;">Ciclul informațiilor</li>
                                                    <ul>      
                                                        <li>Cerințe</li>
                                                        <li>Colectare</li>
                                                        <li>Analiză</li>
                                                        <li>Diseminare</li>
                                                        <li>Feedback</li>
                                                    </ul>
                                                <li style="font-size:1.3rem;">Commodity malware</li>
                                                <li style="font-size:1.3rem;">Comunități de partajare și analiză a informațiilor</li>
                                                    <ul>      
                                                        <li>Sănătate</li>
                                                        <li>Financiar</li>
                                                        <li>Aviație</li>
                                                        <li>Guvern</li>
                                                        <li>Infrastructuri critice</li>
                                                    </ul>
                                            </ul>     
                                        </div>                                       
                                </div>          
                                <hr>
                                <h1 style="margin-left: 50px; color:#1387CA; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#1387CA; "></i>
                                        <i class="fa fa-power-off fa-stack-1x" style="color:white; background:linear-gradient(#1387CA, #1387CA) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    2.0 Securitatea software și a sistemelor
                                </h1>  

                                <h1 style="margin-left: 50px; color:#0eb469; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#0eb469; "></i>
                                        <i class="fa fa-lock fa-stack-1x" style="color:white; background:linear-gradient(#0eb469, #0eb469) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    3.0 Operațiuni de securitate și monitorizare
                                </h1>  

                                <h1 style="margin-left: 50px; color:#5bc4fc; ">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#5bc4fc; "></i>
                                        <i class="fa fa-calendar-check-o fa-stack-1x" style="color:white; background:linear-gradient(#5bc4fc, #5bc4fc) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    4.0 Răspuns la incident
                                </h1>  

                                <h1 style="margin-left: 50px; color:#fa6848">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-square-o fa-stack-1x" style="color:#fa6848; "></i>
                                        <i class="fa fa-list-alt fa-stack-1x" style="color:white; background:linear-gradient(#fa6848, #fa6848) center center/60px 60px no-repeat;"></i>
                                    </span>
                                    5.0 Conformitate și evaluare
                                </h1> 
                                <br>
                                <h2><b>1.1 Importanța datelor și a informațiilor despre amenințări</b></h2>
                                <br>
                                <p id="Capitol1_1" style="text-indent:30px; text-align:justify">
                                        Datele despre amenințările cibernetice, atunci când sunt date contextul adecvat, au ca rezultat crearea de
                                    informații despre amenințări sau cunoașterea actorilor rău intenționați și a felului cum aceștia se comportă;
                                    aceste cunoștințe le permit apărătorilor să obțină o mai bună înțelegere
                                    a mediilor lor operaționale. Mai multe produse pot fi folosite pentru a oferi
                                    factorilor de decizie cu o imagine clară a ceea ce se întâmplă de fapt în
                                    rețea, care asigură o luare a deciziilor mai încrezătoare, crește
                                    costul pentru adversar, îmbunătățește timpul de răspuns al operatorului și, în cel mai rău
                                    caz, reduce timpul de recuperare pentru organizație în cazul unui incident.
                                </p>

                                <p style="text-indent:30px;">
                                        Tipurile de informații sunt împărțite în funcție de mediile din care provin, astfel: 
                                </p>

                                <table class="table table-striped table-sm table-dark" style=" width: 60%; margin-left: 100px; margin-right: auto; font-size:12px;text-size-adjust: auto;">
                                    <thead>
                                    <tr>
                                        <th scope="col">Disciplina</th>
                                        <th scope="col">Descriere</th>                                
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>SIGINT</th>
                                        <td><i>Signal intelligence</i> reprezintă informația colectată prin interceptarea comunicațiilor, electronică și/sau instrumente de transmisie</td>                                
                                    </tr>
                                    <tr>
                                        <th>HUMINT</th>
                                        <td><i>Human intelligence</i> reprezintă informațiile colectate din surse umane prin metode dechise, ascunse sau clandestine</td>                                
                                    </tr>
                                    <tr>
                                        <th>OSINT</th>
                                        <td><i>Open Source intelligence</i> reprezintă colectarea și analiza informațiilor disponibile publice, apărute sub formă scrisă sau electronică</td>                                
                                    </tr>
                                    <tr>
                                        <th>MASINT</th>
                                        <td><i>Measurement and signature intelligence</i> reprezintă colectarea informațiilor prin măsurători și amprente</td>                                
                                    </tr>
                                    <tr>
                                        <th>GEOINT</th>
                                        <td><i>Geospațial intelligence</i> oferă informaţii despre activităţile terestre şi configuraţia terenului prin analiza imaginilor si datelor geospațiale </td>                                
                                    </tr>
                                    <tr>
                                        <th>All source</th>
                                        <td><i>Sursa integrală</i> oferă informaţii care se bazează pe toate sursele de informații disponibile despre un subiect</td>                                
                                    </tr>
                                    </tbody>
                                </table>

                                <p style="font-size:1.5rem;">Surse de informații</p>
                                <p id="Surse_de_informații" style="text-indent:30px; text-align:justify">
                                    Există o serie de surse gratuite și plătite pentru a ajuta echipele să se întâlnească
                                    cerințele lor de informații, inclusiv informații despre amenințări comerciale
                                    furnizori, parteneri din industrie și organizații guvernamentale. Și, desigur,
                                    există, de asemenea, o monitorizare largă a rețelelor sociale și a știrilor pentru date relevante.
                                </p>

                                
                                <p style="font-size:1.3rem;">Surse de informații publice (deschise)</p>
                                <p id="Surse_de_informații" style="text-indent:30px; text-align:justify">
                                    Un mod obișnuit de obține date gratuite despre activitatea actorilor implicați în atacuri cibernetice fără a interacționa cu aceștia
                                    este prin colectarea de informații din surse deschise (OSINT), informații gratuite
                                    adunate din surse publice, cum ar fi presa, biblioteci și motoare de căutare.                                                                      
                                </p>                               
                                <p style="text-indent:30px; text-align:justify">
                                    <i>Recunoaștere pasivă</i> - este procesul prin care un adversar dobândește informații despre o țintă                         
                                    fără a interacționa direct cu ea. Aceste tehnici pot fi concentrate
                                    atât asupra persoanelor fizice, cât și asupra companiilor. La fel ca persoanele fizice, multe companii
                                    mențin o imagine publică care poate oferi celor din afară o privire în interiorul lor
                                    operațiuni. În secțiunile care urmează, sunt descrise unele dintre cele mai utile
                                    surse de OSINT cu care ar trebui să fii familiarizat.
                                </p>
                                <h6>
                                    Google
                                </h6>
                                <p style="text-indent:30px; text-align:justify">
                                    Viziunea Google este de a organiza toate datele din lume și de a le face
                                    accesibile tuturor într-un mod util. Prin urmare, nu ar trebui să fie surprinzător
                                    că Google poate ajuta un atacator să adune o cantitate remarcabilă de informații
                                    despre orice individ, organizație sau rețea.
                                </p>
                                
                    </div>      
                    <div class="col-sm-3 sidenavs" style="margin-top:50px">
                        Test coloana 3
                        <div class="well">
                            <p>ADS</p>
                          </div>
                          <div class="well">
                            <p>ADS</p>
                          </div>
                    </div>  
                </div>           
            </div>        

      {% endblock %}

   </body>
   <style>
      body {
      background-color: #3a4660;
      color: white
      }
   </style>
</html>
    

