<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

      <title>
          {% block title %}

          {% endblock %}
      </title>      
   </head>

   <body>    

      {% block content %}
           <div class="container">
                <div class="row">
                    <div class="col-1">
                            Test coloana 1
                    </div>
                    <div class="col-lg-12">
                            <h1 style="margin-left: 50px; margin-top:50px; color:orange; ">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-square-o fa-stack-1x" style="color:orange; "></i>
                                    <i class="fa fa-exclamation-triangle fa-stack-1x" style="color:white; background:linear-gradient(orange,orange) center center/60px 60px no-repeat;"></i>
                                </span>
                                1.0 Managementul amenințărilor și vulnerabilităților
                            </h1>
                            <h2 style="margin-left: 50px; ">
                                <a href="#Capitol1" class="link-light" data-bs-toggle="collapse" style="text-decoration: none;">1.1 Importanța datelor și a informațiilor despre amenințări</a>
                                <div class="collapse show" id="Capitol1" style="color:'white'; margin-right:100px; ">
                                    <div class="card card-body" style="background:#3a4660; border-style:none;">
                                        <table class="table table-striped table-sm table-dark" style=" width: 30%; margin-left: 100px; margin-right: auto; font-size:12px;text-size-adjust: auto;">
                                            <thead>
                                            <tr>
                                                <th scope="col">Disciplina</th>
                                                <th scope="col">Descriere</th>                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>SIGINT</th>
                                                <td><i>Signal intelligence</i> reprezintă informația colectată prin interceptarea comunicațiilor, electronică și/sau instrumente de transmisie</td>                                
                                            </tr>
                                            <tr>
                                                <th>HUMINT</th>
                                                <td><i>Human intelligence</i> reprezintă informațiile colectate din surse umane prin metode dechise, ascunse sau clandestine</td>                                
                                            </tr>
                                            <tr>
                                                <th>OSINT</th>
                                                <td><i>Open Source intelligence</i> reprezintă colectarea și analiza informațiilor disponibile publice, apărute sub formă scrisă sau electronică</td>                                
                                            </tr>
                                            <tr>
                                                <th>MASINT</th>
                                                <td><i>Measurement and signature intelligence</i> reprezintă colectarea informațiilor prin măsurători și amprente</td>                                
                                            </tr>
                                            <tr>
                                                <th>GEOINT</th>
                                                <td><i>Geospațial intelligence</i> oferă informaţii despre activităţile terestre şi configuraţia terenului prin analiza imaginilor si datelor geospațiale </td>                                
                                            </tr>
                                            <tr>
                                                <th>All source</th>
                                                <td><i>Sursa integrală</i> oferă informaţii care se bazează pe toate sursele de informații disponibile despre un subiect</td>                                
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </h2>
                            <h3 style="margin-left: 50px;">
                                <span>&#8226; Surse de informații</span>
                            </h3>
                            <ul style="margin-left: 100px;">                
                                <li><a href="#myCollapse" class="link-light" data-bs-toggle="collapse" style="text-decoration: none;">Surse de informații publice (deschise)</a></li>
                                <div class="collapse show" id="myCollapse" style="color:'white'; margin-right:100px; ">
                                    <div class="card card-body" style="background:#3a4660; border-style:none;">This is a simple example of showing and hiding specific element via data attributes. Click any trigger buttons to toggle this panel.</div>
                                </div>
                                <li>Surse de informații private/proprietare (închise)</li>
                                <li>Actualitate</li>
                                <li>Relevanță</li>
                                <li>Acuratețe</li>
                            </ul>
                                        

                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                            
                            
                            <h1 style="margin-left: 50px; color:#1387CA; ">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-square-o fa-stack-1x" style="color:#1387CA; "></i>
                                    <i class="fa fa-power-off fa-stack-1x" style="color:white; background:linear-gradient(#1387CA, #1387CA) center center/60px 60px no-repeat;"></i>
                                </span>
                                2.0 Securitatea software și a sistemelor
                            </h1>  

                            <h1 style="margin-left: 50px; color:#0eb469; ">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-square-o fa-stack-1x" style="color:#0eb469; "></i>
                                    <i class="fa fa-lock fa-stack-1x" style="color:white; background:linear-gradient(#0eb469, #0eb469) center center/60px 60px no-repeat;"></i>
                                </span>
                                3.0 Operațiuni de securitate și monitorizare
                            </h1>  

                            <h1 style="margin-left: 50px; color:#5bc4fc; ">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-square-o fa-stack-1x" style="color:#5bc4fc; "></i>
                                    <i class="fa fa-calendar-check-o fa-stack-1x" style="color:white; background:linear-gradient(#5bc4fc, #5bc4fc) center center/60px 60px no-repeat;"></i>
                                </span>
                                4.0 Răspuns la incident
                            </h1>  

                            <h1 style="margin-left: 50px; color:#fa6848">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-square-o fa-stack-1x" style="color:#fa6848; "></i>
                                    <i class="fa fa-list-alt fa-stack-1x" style="color:white; background:linear-gradient(#fa6848, #fa6848) center center/60px 60px no-repeat;"></i>
                                </span>
                                5.0 Conformitate și evaluare
                            </h1> 
                    </div>      
                    <div class="col-1">
                        Test coloana 3
                    </div>  
                </div>           
            </div>        

      {% endblock %}

   </body>
   <style>
      body {
      background-color: #3a4660;
      color: white
      }
   </style>
</html>
    

